<style>
	.home {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 100%;
		text-align: center;
		box-sizing: border-box;
		overflow: hidden;
		container-type: size;
		padding: 2cqw;
	}
	.home .logo {
		margin-top: auto;
		width: 95%;
		height: min(20cqh, 40cqw);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.home .logo > * {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	.home h1 {
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		font-size: clamp(1rem, 5cqw, 3rem);
		margin: 0 0 auto 0;
	}
	.home button {
		padding: 0.5em 1.5em;
		font-size: clamp(1rem, 2vw, 1.5rem);
		background: black;
		color: #fff;
		border-radius: 5px;
		cursor: pointer;
		border: none;
		margin-bottom: 2em;
		display: none;
	}
	.home button.show {
		display: block;
	}
	.home kbd {
		border: 2px solid blue;
		padding: 0.3em 0.6em;
		border-radius: 3px;
		font-weight: bold;
		margin-left: 0.3em;
	}
</style>
<script>
	{
		class Home {
			constructor(p) {
				const { el } = p.space;
				this.button = el.querySelector('.home button');
				this.button.addEventListener('click', () => {
					p.toggle();
					this.update();
				});

				const logoImg = el.querySelector('.home .logo img[data-src]');
				if (logoImg) {
					const src = logoImg.dataset.src;
					const blobKey = src + '#blob';
					const cache = p.universe.cache;
					if (cache.has(blobKey)) {
						logoImg.src = cache.get(blobKey);
					} else {
						p.source(src).then(([entry]) => {
							const url = URL.createObjectURL(
								new Blob([entry.data], { type: entry.type }),
							);
							cache.set(blobKey, url);
							logoImg.src = url;
						});
					}
				}

				this.update = () => {
					const { space, frames, el: u } = p.universe;
					this.button.classList.toggle(
						'show',
						p.panel.hidden &&
							space[0].frame === frames?.[0] &&
							+u.dataset.layout === 0,
					);
				};
				this.update();
			}
		}

		new Home(pathless);
	}
</script>
