<style>
	.home {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 100%;
		text-align: center;
		box-sizing: border-box;
		overflow: hidden;
		container-type: size;
		padding: 2cqw;
	}
	.home .logo {
		margin-top: auto;
		width: 95cqw;
		height: min(20cqh, 40cqw);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.home .logo > * {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	.home h1 {
		width: 80cqw;
		white-space: nowrap;
		overflow: hidden;
		font-size: clamp(1rem, 5cqw, 3rem);
		margin: 0 0 auto 0;
	}
</style>

<div class="home">
	<div class="logo">{{.LOGO}}</div>
	<h1>{{.HEADING}}</h1>
</div>

<script>
	{
		class Home {
			constructor(p) {
				const { el } = p.universe.space;
				const logoImg = el.querySelector('.home .logo img[data-src]');
				if (logoImg) {
					p.source(logoImg.dataset.src).then(([entry]) => {
						logoImg.src = entry.url;
					});
				}
			}
		}
		new Home(pathless);
	}
</script>
