<style>
	.slides {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		touch-action: none;
	}
	.slides img {
		max-width: 95cqw;
		max-height: 95cqh;
		object-fit: contain;
	}
</style>

<script>
	const prefix = '{{.PREFIX}}';
	class Slides {
		constructor(p) {
			this.element = Object.assign(document.createElement('div'), {
				className: 'slides',
				innerHTML: '<img>',
			});
			this.img = this.element.firstChild;
			p.space.el.append(this.element);
			this.entries = [];
			this.index = p.read().get(prefix) || 0;
			p.input.tap((g) => this.show(this.index + (g.end[0] < 0 ? -1 : 1)));
			p.kb.keyNav({
				a: { down: () => this.show(this.index - 1) },
				d: { down: () => this.show(this.index + 1) },
			});
			p.source(prefix).then((entries) => {
				this.entries = entries;
				if (this.entries.length) this.show(this.index);
			});
		}
		show(n) {
			if (!this.entries.length) return;
			this.index =
				((n % this.entries.length) + this.entries.length) %
				this.entries.length;
			pathless.write(prefix, this.index);
			const { url, name } = this.entries[this.index];
			Object.assign(this.img, { src: url, alt: name });
		}
	}
	new Slides(pathless);
</script>
