<style>
	.slides {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		touch-action: none;
	}
	.slides img {
		max-width: 95%;
		max-height: 95%;
		object-fit: contain;
	}
</style>

<img src="" alt="" />

<script>
	{
		const prefix = '{{.PREFIX}}';
		const url = window.circuit + '/' + prefix;

		class Slides {
			constructor(p) {
				const { el } = p.space;
				const i = p.focused;
				this.p = p;
				this.img = el.querySelector('.slides img');
				this.entries = [];
				this.index = p.read().get(prefix) || 0;
				p.input.tapNav(i, {
					prev: () => this.show(this.index - 1),
					next: () => this.show(this.index + 1),
				});
				p.kb.keyNav(i, {
					a: { down: () => this.show(this.index - 1) },
					d: { down: () => this.show(this.index + 1) },
				});
				p.source(url).then((entries) => {
					for (const e of entries)
						if (!e.url)
							e.url = URL.createObjectURL(
								new Blob([e.data], { type: e.type }),
							);
					this.entries = entries;
					if (this.entries.length) this.show(this.index);
				});
			}
			show(n) {
				if (!this.entries.length) return;
				this.index =
					((n % this.entries.length) + this.entries.length) %
					this.entries.length;
				this.p.write(prefix, this.index);
				this.img.src = this.entries[this.index].url;
				this.img.alt = this.entries[this.index].name;
			}
		}

		new Slides(pathless);
	}
</script>
