<style>
	.home {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 100%;
		text-align: center;
		box-sizing: border-box;
		overflow: hidden;
		container-type: size;
		padding: 2cqw;
	}
	.home .logo {
		margin-top: auto;
		width: 95%;
		height: min(20cqh, 40cqw);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.home .logo > * {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	.home h1 {
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		font-size: clamp(1rem, 5cqw, 3rem);
		margin: 0 0 auto 0;
	}
	.home button {
		padding: 0.5em 1.5em;
		font-size: clamp(1rem, 2vw, 1.5rem);
		background: black;
		color: #fff;
		border-radius: 5px;
		cursor: pointer;
		border: none;
		margin-bottom: 2em;
		display: none;
	}
	.home button.show {
		display: block;
	}
	.home kbd {
		border: 2px solid blue;
		padding: 0.3em 0.6em;
		border-radius: 3px;
		font-weight: bold;
		margin-left: 0.3em;
	}
</style>
<div class="home">
	<div class="logo">{{.LOGO}}</div>
	<h1>{{.HEADING}}</h1>
	<button>Press<kbd>Z</kbd></button>
</div>
<script>
	(() => {
		const button = document.querySelector('.home button');
		function updateVisibility() {
			const u = window.pathless;
			const shouldShow =
				u?.space[3].visible === false &&
				u?.focused === 0 &&
				u?.space[0].index === 0 &&
				u?.layout[0] === 0;
			button.classList.toggle('show', shouldShow);
		}
		button.addEventListener('click', () => {
			window.pathless?.toggleKeyboard();
			updateVisibility();
		});
		updateVisibility();
	})();
</script>
