<style>
	.slides {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		touch-action: none;
	}
	.slides img {
		max-width: 95%;
		max-height: 95%;
		object-fit: contain;
	}
</style>

<img src="" alt="" />

<script>
	{
		const prefix = '{{.PREFIX}}';
		const url = '{{.URL}}';
		const ctx = pathless.scope(); // captures this space at construction

		class Slides {
			constructor() {
				this.img = document.querySelector('.slides img');
				this.entries = [];
				this.index = ctx.read().get(prefix) || 0;

				ctx.bind({
					left: () => this.show(this.index - 1),
					right: () => this.show(this.index + 1),
				});

				pathless.source(url).then((entries) => {
					for (const e of entries)
						if (!e.url)
							e.url = URL.createObjectURL(
								new Blob([e.data], { type: e.type }),
							);
					this.entries = entries;
					if (this.entries.length) this.show(this.index);
				});
			}

			show(i) {
				if (!this.entries.length) return;
				this.index =
					((i % this.entries.length) + this.entries.length) %
					this.entries.length;
				ctx.write(prefix, this.index);
				this.img.src = this.entries[this.index].url;
				this.img.alt = this.entries[this.index].name;
			}
		}

		new Slides();
	}
</script>
